@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  font-family: "Karla", sans-serif;

  text-decoration: none;
}
*:visited {
  color: inherit;
}

.header {
  color: #546e7a;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 20px 3rem;
}
.header-buttons {
  margin-right: 3rem;
}
.header-buttons__button-login {
  margin-right: 1rem;
}
.header-buttons__button-start {
  padding: 1rem;
  background-color: #3bd2a2;
  border-radius: 25px;
  font-weight: bold;
  color: #fff;
}

.header-menu {
  background-color: #fff;
}
.header-menu__element {
  margin-right: 2.5rem;
  font-size: 120%;
}
