* {
  color: #546e7a;
  text-decoration: none;
}

.header-buttons {
}
.header-buttons__button-login {
}
.header-buttons__button-start {
}
.header-menu {
  width: 70%;
  background-color: #800;
}
.header-menu__element {
  margin-right: 1em;
}
.header {
  background-color: #007;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
