* {
  color: #546e7a;
  text-decoration: none;
}
.logo {
  margin: 20px 20px;
}
.header-buttons {
}
.header-buttons__button-login {
}
.header-buttons__button-start {
  padding: 1rem;
  background-color: #3bd2a2;
}
.header-menu {
  width: 70%;
  background-color: #800;
}
.header-menu__element {
  margin-right: 2.5rem;
  font-size: 120%;
}
.header {
  background-color: #007;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
